@media (max-width:768px){

    [class*='block-']{
        margin-top: $mo;
        margin-bottom: $mo;
        display: flex;
        flex-direction: column;
    }
    

.masthead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0px;
    
    .masthead-content__img{
        display: flex;
        justify-content: center;
        margin-top:250px;

    }

    
    .masthead-img{
        width: 300px;
    }
    

    .masthead-content__text{
        margin-left: 0px;
        margin-bottom: 150px;
        text-align: center;
    }
    .masthead-heading{
        color: $white;
        font-weight: 700;
        margin-bottom: 24px;
    }
}


    .block-icons{
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .icons-heading{
            color: $white;
            font-weight: 700;
            margin-bottom: 38px;
            text-align: center;
        }
    
        .icons-content{
            display: flex;
            flex-direction: column!important;
    
            .icon-install{
                margin:$mi*2 0px;
                img.info-icon{
                    width: 150px;
                    height: 150px;
                    display: flex;
                    justify-content: center;
                    position: relative;
                    margin: auto;
                }
                p{
                    font-size: $text;
                    text-align: center;
                    color: $white;
                    font-weight: 300;
                    margin-top: $mi;
                }
            }
        }
    }


    .block-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        .info-block__img{
            display: inline-flex;
            width: 260px;
        }
    
        .info-block__text{
            margin-left: 0px;

        }
    
        .info-heading{
            color: $white;
            font-size: $h2;
            font-weight: 700;
            margin: $mo/2 0px;
            text-align: center;
        }
    
        .info-text{
            color: $white;
            font-weight: 300;
            font-size: $text;
            line-height: $text--lh;
            margin-bottom: 38px;
            text-align: center;
        }
    }


    .block-about-app{
        display: flex;
        flex-direction: column;
    
    
        .about-app-heading{
            color: $white;
            font-weight: 700;
            text-align: center;
        }
        p{
            font-size: $text;
            text-align: center;
            color: $white;
            font-weight: 300;   
            margin-top: $mi*2;
        }
        
        .tab-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            &:nth-child(even){
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            .tab-content__text{
                margin: auto;

            }
            .tab-content__text-reverse{

               margin: 0 auto;
    
            }
    
            .tab-heading{
                font-size: $h2;
                color: $white;
                
            }
    
            .tab-text{
                font-size: $text;
                text-align: center;
                color: $white;
                font-weight: 300;   
                margin-top: $mi*2;
                
            }
        }



        .tab-panel{
            position: relative;
            display: flex;
            flex-direction: column;
            margin: $mi*2 0px;
            justify-content: center;
            
            
            
            .tab-link{
                color: $white;
                margin: $mi $mi*4;
                font-size: $text;
                text-transform: uppercase;
                font-weight: 300;
                text-align: center;
                cursor: pointer;
                &.active{
                    color: $green;
                    font-weight: 600;
                }
            }
        }
    }

    .block-integration{
        display: flex;
        flex-direction: column;
        
    
        .integration-heading{
            color: $white;
            font-weight: 700;
            text-align: center;
        }

        .image-partner{
            display: flex;
            flex-direction: column;
            width:100%;
            margin:$mi auto;
        }

        .promo-button-block{
            display: flex;
            width: fit-content;
            margin: 0 auto;
        }
    
        
        p{
            font-size: $text;
            text-align: center;
            color: $white;
            font-weight: 300;   
            margin-top: $mi;
        }
        
        .integration-icons{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: $mi*2;
            &__item{
                margin: $mi 0px;
            }
            img.integration-icon{
                height: 70px;
                display: flex;
                justify-content: center;
                position: relative;
                margin: auto;
            }
        }
       
    }
    .block-team{
        display: flex;
        flex-direction: column;
    
        .team-heading{
            color: $white;
            font-weight: 700;
            text-align: center;
        }
        p{
            font-size: $text;
            text-align: center;
            color: $white;
            font-weight: 300;   
            margin-top: $mi*2;
        }
    
        .team{
            display: flex;
            flex-direction: column;
            margin-top: $mi*2;
            &-item{
                width: 100%;
                margin: $mi auto;
                text-align: center;
                &__name{
                    font-size: $text;
                    font-weight: 700;
                    color: $green;
                    margin-top: $mi;
                }
                &__vacancy{
                    font-size: $text !important;
                    font-weight: 300;
                    color: $white;
                    margin-top: $mi !important;
                }
                .team-photo{
                    width: 200px;
                }
            }
        }
    }


    .block-social{
        display:flex;
        flex-direction: column;
    
        .social-heading{
            color: $white;
            font-weight: 700;
            text-align: center;
        }
    
        .social{
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            margin-top: $mi*2;
            &__item{
                margin: $mi  0px ;
            }
        }
    }
    

    .footer{
        position: relative;
        display: flex;
        flex-direction: column;
        background: transparentize(#000,0.8);
        padding: $mi;
        width: 100vw;
        &-label{
            font-size: 18px;
            font-weight: 300;
            color: $white;
            display: flex;
            flex-direction: column;
            margin: $mi/4 0px;
        }
        &-logo{
            margin:0 auto;
            display: flex;
            flex-direction: column;
            margin-bottom: $mi*2;
            .logo{
                width: 187.44px;
                
            }
        }
        &-content{
            display: flex;
            flex-direction: column;
            margin: 0 auto;

        }

        &-column{
            display: flex;
            flex-direction: column;
            margin:$mi;
            h2{
                font-size: $text;
                font-weight: 400;
                color: $green;
                text-transform: uppercase;
            }
        }
        &__item{
            display: flex;
            flex-direction: column;
            text-align: center;
            margin:$mi/2 0px ;
            a{
                font-size: 18px;
                font-weight: 300;
                color: $white;
                transition: $t-time;
                text-decoration: none;
                &:hover{
                    color: $green;
                }
                &:visited{
                    color: $green-hover;
                }
                &:active{
                    color: $green-hover;
                }
            }
        }
    }

    .block-inner{
        display:flex;
        flex-direction: column;
        margin: $mi*4 auto;
        padding: 0px $mi;
        color: $white;
        h1{
            color: $white;
            font-weight: 700;
            margin-bottom: 24px;
        }
        a{
            font-size: $text;
            font-weight: 300;
            color: $white;
            transition: $t-time;
            text-decoration: underline;
            &:hover{
                color: $green;
            }
            &:visited{
                color: $green-hover;
            }
            &:active{
                color: $green-hover;
            }
        }
    }
}
