/* offset-x | offset-y | blur-radius | spread-radius | color */
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css";
.red {
  color: #CD201F;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  background: #282828;
  font-family: "Gotham Pro", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 24px;
  line-height: 32px;
}

.green {
  color: #5AF9BC;
}

.main {
  padding: 0px 10%;
}

.row {
  padding: 0px 300px;
}

a {
  font-size: 18px;
  font-weight: 300;
  color: #f8f8f8;
  transition: 0.3s ease-in;
  text-decoration: underline;
}
a:hover {
  color: #5AF9BC;
}
a:visited {
  color: #42CB97;
}
a:active {
  color: #42CB97;
}

.spacer-additional {
  margin-top: 22px;
  margin-bottom: 22px;
}

.white {
  color: #f8f8f8;
}

.masthead {
  height: 100vh;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.masthead .masthead-content__img {
  display: inline-flex;
  width: 400px;
}
.masthead .masthead-content__text {
  margin-left: 44px;
}
.masthead .masthead-heading {
  color: #f8f8f8;
  font-weight: 700;
  margin-bottom: 38px;
}
.masthead .masthead-text {
  color: #f8f8f8;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 38px;
}

[class*=block-] {
  margin-top: 100px;
  margin-bottom: 100px;
}

.block-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.block-info .info-block__img {
  display: inline-flex;
  width: 260px;
}
.block-info .qr-img {
  width: 250px;
}
.block-info .info-block__text {
  margin-left: 88px;
}
.block-info .info-heading {
  color: #f8f8f8;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 38px;
}
.block-info .info-text {
  color: #f8f8f8;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 38px;
}

.line {
  position: relative;
  margin: 0 auto;
  padding: 0 auto;
  width: 600px;
  height: 2px;
}

.block-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block-icons .icons-heading {
  color: #f8f8f8;
  font-weight: 700;
  margin-bottom: 38px;
  text-align: center;
}
.block-icons .icons-content {
  display: inline-flex;
}
.block-icons .icons-content .icon-install {
  margin: 0px 88px;
}
.block-icons .icons-content .icon-install img.info-icon {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  position: relative;
  margin: auto;
}
.block-icons .icons-content .icon-install p {
  font-size: 24px;
  text-align: center;
  color: #f8f8f8;
  font-weight: 300;
  margin-top: 44px;
}

.block-about-app {
  display: flex;
  flex-direction: column;
}
.block-about-app .about-app-heading {
  color: #f8f8f8;
  font-weight: 700;
  text-align: center;
}
.block-about-app p {
  font-size: 24px;
  text-align: center;
  color: #f8f8f8;
  font-weight: 300;
  margin: 44px 0px;
}
.block-about-app .tab-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.block-about-app .tab-content:nth-child(even) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}
.block-about-app .tab-content .tab-content__text {
  margin-left: 88px;
}
.block-about-app .tab-content .tab-content__text-reverse {
  margin-left: 0px;
  margin-right: 88px;
}
.block-about-app .tab-content__image img {
  width: 400px;
}
.block-about-app .tab-content .tab-heading {
  font-size: 32px;
  color: #f8f8f8;
}
.block-about-app .tab-content .tab-text {
  font-size: 24px;
  text-align: center;
  color: #f8f8f8;
  font-weight: 300;
  margin-top: 44px;
  text-align: left;
}
.block-about-app .tab-panel {
  position: relative;
  display: flex;
  margin: 44px 0px;
  justify-content: center;
}
.block-about-app .tab-panel .tab-link {
  color: #f8f8f8;
  margin: 0px 88px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
  cursor: pointer;
}
.block-about-app .tab-panel .tab-link.active {
  color: #5AF9BC;
  font-weight: 600;
}

.block-integration {
  display: flex;
  flex-direction: column;
}
.block-integration .integration-heading {
  color: #f8f8f8;
  font-weight: 700;
  text-align: center;
}
.block-integration .image-partner {
  display: flex;
  flex-direction: column;
  margin: 22px auto;
  width: 1000px;
}
.block-integration .promo-button-block {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}
.block-integration p {
  font-size: 24px;
  text-align: center;
  color: #f8f8f8;
  font-weight: 300;
  margin-top: 44px;
}
.block-integration .integration-icons {
  display: flex;
  justify-content: center;
  margin-top: 44px;
}
.block-integration .integration-icons__item {
  margin: 0px 88px;
  text-align: center;
}
.block-integration .integration-icons img.integration-icon {
  height: 70px;
  display: flex;
  justify-content: center;
  position: relative;
  margin: auto;
  margin-bottom: 44px;
}

.block-about {
  display: flex;
  flex-direction: column;
}
.block-about .about-heading {
  color: #f8f8f8;
  font-weight: 700;
  text-align: center;
}
.block-about .additional-heading {
  color: #f8f8f8;
  font-weight: 300;
  text-align: center;
}
.block-about .about-content {
  display: inline-flex;
  align-items: center;
}
.block-about .about-content__text p {
  font-size: 24px;
  text-align: center;
  color: #f8f8f8;
  font-weight: 300;
  margin-top: 44px;
}
.block-about .about-content__img {
  position: relative;
  width: 200px;
}

.block-team {
  display: flex;
  flex-direction: column;
}
.block-team .team-heading {
  color: #f8f8f8;
  font-weight: 700;
  text-align: center;
}
.block-team p {
  font-size: 24px;
  text-align: center;
  color: #f8f8f8;
  font-weight: 300;
  margin-top: 44px;
}
.block-team .team {
  display: inline-flex;
  margin-top: 44px;
  justify-content: center;
}
.block-team .team-item {
  width: 100%;
  margin: 0px 44px;
  text-align: center;
}
.block-team .team-item__name {
  font-size: 24px;
  font-weight: 700;
  color: #5AF9BC;
  margin-top: 22px;
}
.block-team .team-item__vacancy {
  font-size: 18px !important;
  font-weight: 300;
  color: #f8f8f8;
  margin-top: 22px !important;
}
.block-team .team-item__link {
  margin-top: 22px;
}
.block-team .team-item .team-photo {
  width: 150px;
}

.block-social {
  display: flex;
  flex-direction: column;
}
.block-social .social-heading {
  color: #f8f8f8;
  font-weight: 700;
  text-align: center;
}
.block-social .social {
  display: inline-flex;
  justify-content: space-around;
  margin-top: 44px;
}
.block-social .social__item {
  margin: 0px 44px;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.2);
  padding: 100px;
  width: 100vw;
}
.footer-label {
  font-size: 18px;
  font-weight: 300;
  color: #f8f8f8;
  display: flex;
  flex-direction: column;
  margin: 5.5px 0px;
}
.footer-logo {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 44px;
}
.footer-logo .logo {
  width: 200px;
}
.footer-content {
  display: inline-flex;
  margin: 0 auto;
}
.footer-column {
  display: flex;
  flex-direction: column;
  margin: 0px 100px;
}
.footer-column h2 {
  font-size: 24px;
  font-weight: 400;
  color: #5AF9BC;
  text-transform: uppercase;
}
.footer__item {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 11px 0px;
}
.footer__item a {
  font-size: 18px;
  font-weight: 300;
  color: #f8f8f8;
  transition: 0.3s ease-in;
  text-decoration: none;
}
.footer__item a:hover {
  color: #5AF9BC;
}
.footer__item a:visited {
  color: #42CB97;
}
.footer__item a:active {
  color: #42CB97;
}

.block-inner {
  display: flex;
  flex-direction: column;
  margin: 88px auto;
  color: #f8f8f8;
}
.block-inner h1 {
  color: #5AF9BC !important;
  font-weight: 700;
  margin: 44px 0px 66px 0px;
}
.block-inner p {
  font-weight: 300;
}

.block-news {
  display: flex;
  margin: 88px auto;
  max-width: 700px;
  flex-direction: column;
}
.block-news .article {
  max-width: 700px;
  color: #f8f8f8;
  margin: 22px auto;
}
.block-news .article-main {
  margin-bottom: 22px;
}
.block-news .article-main a {
  text-decoration: none;
}
.block-news .article-excerpt {
  font-size: 18px;
  font-weight: 300;
}
.block-news .article-meta {
  margin-top: 22px;
}
.block-news .article-publish {
  font-size: 16px;
  font-weight: 300;
  color: rgba(248, 248, 248, 0.5);
}
.block-news .article-image {
  max-width: 700px;
  margin: 22px 0px;
  border-radius: 8px;
}
.block-news .article-heading {
  text-decoration: none;
}
.block-news .article-categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.block-news .article-categories .category-link {
  margin: 11px;
}
.block-news .article-categories .category-link:first-child {
  margin-left: 0px;
}

.countdown-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.countdown-content li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  color: #f8f8f8;
}
.countdown-content li span {
  display: block;
  font-size: 4.5rem;
  color: #5AF9BC;
}

.bip-course {
  display: inline-flex;
  align-items: center;
}
.bip-course .bip-logo {
  max-width: 55px;
  height: auto;
  margin-right: 12px;
}
.bip-course .bip-course-value {
  font-style: italic;
  font-weight: 800;
  background: linear-gradient(90deg, #FF512F 0%, #F09819 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.trailer {
  margin: 22px 11px;
  display: inline-flex;
}

@media screen and (max-width: 768px) {
  .trailer {
    margin: 22px 11px;
    display: flex;
    flex-direction: row;
  }

  .form__wrap {
    position: relative;
    flex: auto;
  }
}
.jazz-caret {
  transform: translate(11px, 16px);
  font-size: 20px;
}

.form__label {
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
}
.form__label[for] {
  cursor: pointer;
}
.form__label--required:after {
  content: "*";
  color: #db5451;
  margin-left: 5px;
}
.form__wrap {
  position: relative;
}
.form__textarea, .form__select, .form__input {
  border-radius: 32px;
  display: block;
  width: 100%;
  background: #fff;
  border: 1px solid #d1d1d1;
  outline: none;
  -webkit-appearance: none;
  margin: 0;
  padding: 16px 18px;
  color: #474747;
  line-height: normal;
  box-shadow: none;
  overflow: hidden;
}
.form__textarea::placeholder, .form__select::placeholder, .form__input::placeholder {
  color: #b8b8b8;
}
.form__textarea:hover, .form__select:hover, .form__input:hover {
  border-color: #b8b8b8;
}
.form__textarea:focus, .form__select:focus, .form__input:focus {
  border-color: #038cd6;
}
.form__textarea[disabled], .form__select[disabled], .form__input[disabled] {
  background: #f5f5f5;
  border-color: #e8e8e8;
  cursor: default;
}
.form--error .form__textarea, .form--error .form__select, .form--error .form__input {
  border-color: #db5451;
  box-shadow: 0 0 0 1px #db5451 inset;
}
.form__select--small, .form__input--small {
  height: 32px;
}
.form__input--icon-left {
  padding-left: 62px;
}
.form__input--icon-right {
  padding-right: 62px;
}
.form__textarea {
  resize: vertical;
  padding: 22px;
  height: 125px;
  overflow: auto;
}
.form__select--not-selected {
  color: #b8b8b8;
}
.form__select option {
  color: #474747;
}
.form__select-opener {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  pointer-events: none;
  background: #f8f8f8;
  color: #282828;
  border-radius: 0 32px 32px 0;
  border: 1px solid transparent;
  background-clip: padding-box;
}
.form--error .form__select-opener {
  border-width: 2px;
}
.form__select[disabled] + .form__select-opener {
  background: transparent;
}
.form__select-opener:before {
  border-left: 1px solid #d1d1d1;
  left: 0;
  top: 0;
  height: 100%;
  content: "";
  position: absolute;
}
.form__select[disabled] + .form__select-opener:before {
  border-color: #e8e8e8;
}
.form__select-opener:after {
  font-family: FontAwesome;
  font-weight: 900;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.nav {
  height: 80px;
  width: 100%;
  background-color: #212121;
  position: fixed;
  /* Make it stick/fixed */
  top: 60;
  /* Stay on top */
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
  padding: 0px 22px;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  z-index: 200;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav-logo {
  height: 60px !important;
}

.nav > .nav-links {
  display: inline-flex;
  align-items: center;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-flex;
  align-items: center;
  padding: 11px 22px;
  text-decoration: none;
  color: #efefef;
  transition: 0.3s ease-in;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 44px;
  padding: 11px 22px;
}

.nav > #nav-check {
  display: none;
}

.nav > .nav-dropdown {
  position: relative;
  display: inline-flex;
}

.nav > .nav-dropdown-content {
  display: none;
  position: absolute;
  background: #f8f8f8;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  min-width: 160px;
  z-index: 1;
}

.nav-dropdown:hover .nav-dropdown-content {
  display: block;
}

.nav-lang {
  display: flex;
  align-items: center;
  height: 20px;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 14px;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #212121;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 80px;
    left: 0px;
  }

  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }

  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 80px);
    overflow-y: auto;
    text-align: center;
  }
}
.scrollUp {
  transform: translateY(-80px);
}

.btn {
  padding: 15px 20px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  border-radius: 40px;
  text-decoration: none;
  transition: 0.3s ease-in;
  border: 0px;
}
.btn-cta {
  background: #5AF9BC;
  color: #282828;
  animation: pulse 2s infinite;
}
.btn-cta:hover {
  background: #42CB97;
  box-shadow: 0px 4px 24px 4px #42CB97;
}
.btn-muted {
  background: rgba(248, 248, 248, 0.2);
  color: #282828;
}
.btn-instagram:hover {
  background: #E4405F;
  color: #f8f8f8;
  box-shadow: 0px 4px 24px 4px #E4405F;
}
.btn-telegram:hover {
  background: #0088cc;
  color: #f8f8f8;
  box-shadow: 0px 4px 24px 4px #0088cc;
}
.btn-youtube:hover {
  background: #CD201F;
  color: #f8f8f8;
  box-shadow: 0px 4px 24px 4px #CD201F;
}
.btn-twitter:hover {
  background: #55ACEE;
  color: #f8f8f8;
  box-shadow: 0px 4px 24px 4px #55ACEE;
}
.btn-regular:hover {
  background: #5AF9BC;
  color: #282828;
  box-shadow: 0px 4px 24px 4px #5AF9BC;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0px 4px 24px 4px #5AF9BC;
    box-shadow: 0px 4px 24px 4px #5AF9BC;
  }
  70% {
    -moz-box-shadow: 0px 4px 24px 4px #42CB97;
    box-shadow: 0px 4px 24px 4px #42CB97;
  }
  100% {
    -moz-box-shadow: 0px 4px 24px 4px #5AF9BC;
    box-shadow: 0px 4px 24px 4px #5AF9BC;
  }
}
.tabs {
  width: 60%;
  float: none;
  list-style: none;
  position: relative;
  margin: 80px 0 0 10px;
  text-align: left;
}
.tabs li {
  float: left;
  display: block;
}
.tabs input[type=radio] {
  position: absolute;
  top: 0;
  left: -9999px;
}
.tabs label {
  display: block;
  padding: 14px 21px;
  border-radius: 2px 2px 0 0;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  background: #282828;
  cursor: pointer;
  position: relative;
  top: 4px;
}
.tabs label:hover {
  background: #29f7a8;
  transition: all 0.2s ease-in-out;
}
.tabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 25px;
  position: absolute;
  top: 53px;
  left: 0;
  background: #020202;
}
.tabs [id^=tab]:checked + label {
  top: 0;
  padding-top: 17px;
  background: #10f69e;
}
.tabs [id^=tab]:checked ~ [id^=tab-content] {
  display: block;
}

.timeline {
  list-style-type: none;
  display: flex;
  align-items: start;
  justify-content: center;
  margin: 88px 0px;
}

.li {
  transition: all 200ms ease-in;
}

.timestamp {
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  color: #f8f8f8;
}

.status {
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-top: 2px solid #D6DCE0;
  position: relative;
  transition: all 200ms ease-in;
}

.status h4 {
  font-weight: 300;
  color: #f8f8f8;
}

.status:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #ddd;
  position: absolute;
  top: -15px;
  left: 42%;
  transition: all 200ms ease-in;
}

.li.complete .status {
  border-top: 2px solid #5AF9BC;
}

.li.complete .status:before {
  background-color: #5AF9BC;
  border: none;
  transition: all 200ms ease-in;
}

.li.complete .status h4 {
  color: #5AF9BC;
}

@media (min-device-width: 320px) and (max-device-width: 700px) {
  .timeline {
    list-style-type: none;
    display: block;
  }

  .li {
    transition: all 200ms ease-in;
    display: flex;
    align-items: flex-end;
    width: inherit;
  }

  .timestamp {
    width: 100px;
  }

  .status {
    border-top: 0px solid #D6DCE0;
  }

  .status h4 {
    text-align: left;
  }

  .status:before {
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in;
    border-top: 0px solid #D6DCE0;
  }

  .li.complete {
    transition: all 200ms ease-in;
    display: flex;
    align-items: flex-end;
    width: inherit;
  }

  .li.complete .status {
    border-top: 0px solid #5AF9BC;
  }
}
.block-calculate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 120px auto;
}
.block-calculate .calc-heading {
  color: #f8f8f8;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 28px;
}
.block-calculate .calc-subheading {
  color: #f8f8f8;
  font-size: 26px;
  line-height: 32px;
  font-weight: 300;
  margin-bottom: 28px;
}
.block-calculate .form-calc {
  display: flex;
  flex-direction: row;
  margin: 50px;
}
.block-calculate .card-wrapper {
  display: flex;
  flex-direction: row;
}
.block-calculate .card {
  display: flex;
  flex-direction: column;
  padding: 22px;
  margin: 11px;
  text-align: center;
  border-radius: 12px;
  background: #1b1b1b;
}
.block-calculate .card-link {
  margin: 12px;
}
.block-calculate .card h3, .block-calculate .card span {
  color: #f8f8f8;
}
.block-calculate .card h1 {
  color: #5AF9BC;
  margin: 12px 0px;
}
.block-calculate input[type=text] {
  background: transparent;
  outline: none;
  border: none;
  font-size: 24px;
  border-bottom: 2px solid #d2d2d2;
  color: #d2d2d2;
  padding: 12px;
  margin: 0px 12px;
}
.block-calculate input[type=text]:focus {
  font-size: 24px;
  color: #5AF9BC;
  border-bottom: 2px solid #5AF9BC;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .block-calculate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 120px auto;
  }
  .block-calculate .calc-heading, .block-calculate .calc-subheading {
    text-align: center;
  }
  .block-calculate .calc-subheading {
    font-size: 21px;
    line-height: 28px;
  }
  .block-calculate .form-calc {
    display: flex;
    flex-direction: column;
    margin: 50px;
  }
  .block-calculate .card-wrapper {
    display: flex;
    flex-direction: column;
  }
  .block-calculate .card {
    display: flex;
    flex-direction: column;
    padding: 22px;
    margin: 5.5px;
    text-align: center;
    border-radius: 12px;
    background: #1b1b1b;
  }
  .block-calculate .card-link {
    margin: 12px;
  }
  .block-calculate .card h3, .block-calculate .card span {
    color: #f8f8f8;
  }
  .block-calculate .card h1 {
    color: #5AF9BC;
    margin: 12px 0px;
  }
  .block-calculate input[type=text] {
    background: transparent;
    outline: none;
    border: none;
    font-size: 24px;
    border-bottom: 2px solid #d2d2d2;
    color: #d2d2d2;
    padding: 12px;
    margin: 11px;
  }
  .block-calculate input[type=text]:focus {
    font-size: 24px;
    color: #5AF9BC;
    border-bottom: 2px solid #5AF9BC;
    transition: 0.3s ease-in-out;
  }
}
@media (max-width: 768px) {
  .main {
    padding: 0px 2%;
  }

  .row {
    padding: 0px;
  }
}
@media (max-width: 768px) {
  [class*=block-] {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
  }

  .masthead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0px;
  }
  .masthead .masthead-content__img {
    display: flex;
    justify-content: center;
    margin-top: 250px;
  }
  .masthead .masthead-img {
    width: 300px;
  }
  .masthead .masthead-content__text {
    margin-left: 0px;
    margin-bottom: 150px;
    text-align: center;
  }
  .masthead .masthead-heading {
    color: #f8f8f8;
    font-weight: 700;
    margin-bottom: 24px;
  }

  .block-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .block-icons .icons-heading {
    color: #f8f8f8;
    font-weight: 700;
    margin-bottom: 38px;
    text-align: center;
  }
  .block-icons .icons-content {
    display: flex;
    flex-direction: column !important;
  }
  .block-icons .icons-content .icon-install {
    margin: 44px 0px;
  }
  .block-icons .icons-content .icon-install img.info-icon {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
  }
  .block-icons .icons-content .icon-install p {
    font-size: 24px;
    text-align: center;
    color: #f8f8f8;
    font-weight: 300;
    margin-top: 22px;
  }

  .block-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .block-info .info-block__img {
    display: inline-flex;
    width: 260px;
  }
  .block-info .info-block__text {
    margin-left: 0px;
  }
  .block-info .info-heading {
    color: #f8f8f8;
    font-size: 32px;
    font-weight: 700;
    margin: 50px 0px;
    text-align: center;
  }
  .block-info .info-text {
    color: #f8f8f8;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 38px;
    text-align: center;
  }

  .block-about-app {
    display: flex;
    flex-direction: column;
  }
  .block-about-app .about-app-heading {
    color: #f8f8f8;
    font-weight: 700;
    text-align: center;
  }
  .block-about-app p {
    font-size: 24px;
    text-align: center;
    color: #f8f8f8;
    font-weight: 300;
    margin-top: 44px;
  }
  .block-about-app .tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .block-about-app .tab-content:nth-child(even) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .block-about-app .tab-content .tab-content__text {
    margin: auto;
  }
  .block-about-app .tab-content .tab-content__text-reverse {
    margin: 0 auto;
  }
  .block-about-app .tab-content .tab-heading {
    font-size: 32px;
    color: #f8f8f8;
  }
  .block-about-app .tab-content .tab-text {
    font-size: 24px;
    text-align: center;
    color: #f8f8f8;
    font-weight: 300;
    margin-top: 44px;
  }
  .block-about-app .tab-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 44px 0px;
    justify-content: center;
  }
  .block-about-app .tab-panel .tab-link {
    color: #f8f8f8;
    margin: 22px 88px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
  }
  .block-about-app .tab-panel .tab-link.active {
    color: #5AF9BC;
    font-weight: 600;
  }

  .block-integration {
    display: flex;
    flex-direction: column;
  }
  .block-integration .integration-heading {
    color: #f8f8f8;
    font-weight: 700;
    text-align: center;
  }
  .block-integration .image-partner {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 22px auto;
  }
  .block-integration .promo-button-block {
    display: flex;
    width: fit-content;
    margin: 0 auto;
  }
  .block-integration p {
    font-size: 24px;
    text-align: center;
    color: #f8f8f8;
    font-weight: 300;
    margin-top: 22px;
  }
  .block-integration .integration-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 44px;
  }
  .block-integration .integration-icons__item {
    margin: 22px 0px;
  }
  .block-integration .integration-icons img.integration-icon {
    height: 70px;
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
  }

  .block-team {
    display: flex;
    flex-direction: column;
  }
  .block-team .team-heading {
    color: #f8f8f8;
    font-weight: 700;
    text-align: center;
  }
  .block-team p {
    font-size: 24px;
    text-align: center;
    color: #f8f8f8;
    font-weight: 300;
    margin-top: 44px;
  }
  .block-team .team {
    display: flex;
    flex-direction: column;
    margin-top: 44px;
  }
  .block-team .team-item {
    width: 100%;
    margin: 22px auto;
    text-align: center;
  }
  .block-team .team-item__name {
    font-size: 24px;
    font-weight: 700;
    color: #5AF9BC;
    margin-top: 22px;
  }
  .block-team .team-item__vacancy {
    font-size: 24px !important;
    font-weight: 300;
    color: #f8f8f8;
    margin-top: 22px !important;
  }
  .block-team .team-item .team-photo {
    width: 200px;
  }

  .block-social {
    display: flex;
    flex-direction: column;
  }
  .block-social .social-heading {
    color: #f8f8f8;
    font-weight: 700;
    text-align: center;
  }
  .block-social .social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 44px;
  }
  .block-social .social__item {
    margin: 22px 0px;
  }

  .footer {
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.2);
    padding: 22px;
    width: 100vw;
  }
  .footer-label {
    font-size: 18px;
    font-weight: 300;
    color: #f8f8f8;
    display: flex;
    flex-direction: column;
    margin: 5.5px 0px;
  }
  .footer-logo {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
  }
  .footer-logo .logo {
    width: 187.44px;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .footer-column {
    display: flex;
    flex-direction: column;
    margin: 22px;
  }
  .footer-column h2 {
    font-size: 24px;
    font-weight: 400;
    color: #5AF9BC;
    text-transform: uppercase;
  }
  .footer__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 11px 0px;
  }
  .footer__item a {
    font-size: 18px;
    font-weight: 300;
    color: #f8f8f8;
    transition: 0.3s ease-in;
    text-decoration: none;
  }
  .footer__item a:hover {
    color: #5AF9BC;
  }
  .footer__item a:visited {
    color: #42CB97;
  }
  .footer__item a:active {
    color: #42CB97;
  }

  .block-inner {
    display: flex;
    flex-direction: column;
    margin: 88px auto;
    padding: 0px 22px;
    color: #f8f8f8;
  }
  .block-inner h1 {
    color: #f8f8f8;
    font-weight: 700;
    margin-bottom: 24px;
  }
  .block-inner a {
    font-size: 24px;
    font-weight: 300;
    color: #f8f8f8;
    transition: 0.3s ease-in;
    text-decoration: underline;
  }
  .block-inner a:hover {
    color: #5AF9BC;
  }
  .block-inner a:visited {
    color: #42CB97;
  }
  .block-inner a:active {
    color: #42CB97;
  }
}
@media (max-width: 768px) {
  .btn {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding: 15px 100px;
  }
}

/*# sourceMappingURL=common.css.map */

.top-banner{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  place-items: flex-start;
  justify-content: space-around;
  background: #f4f4f4;
  height: 80px;
  width: 100%;
  z-index: 999;
}

.top-banner img{
  margin: 10px 0px;
}

.top-banner .btn{
  margin: 10px 0px;
}

@media screen and (max-width: 768px) {
  .top-banner .btn{
  display: none
}
}