.white{
    color: $white;
}

.masthead{
    height: 100vh;
    padding: $mo;
    display: flex;
    align-items: center;
    justify-content: center;


    .masthead-content__img{
        display: inline-flex;
        width: 400px;

    }

    .masthead-content__text{
        margin-left: $mi*2;
    }

    .masthead-heading{
        color: $white;
        font-weight: 700;
        margin-bottom: 38px;
    }

    .masthead-text{
        color: $white;
        font-weight: 300;
        font-size: $text;
        line-height: $text--lh;
        margin-bottom: 38px;
    }


}


[class*='block-']{
    margin-top: $mo;
    margin-bottom: $mo;
}

.block-info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    .info-block__img{
        display: inline-flex;
        width: 260px;

    }
    .qr-img{
        width: 250px;
    }

    .info-block__text{
        margin-left: $mi*4;
    }

    .info-heading{
        color: $white;
        font-size: $h2;
        font-weight: 700;
        margin-bottom: 38px;
    }

    .info-text{
        color: $white;
        font-weight: 300;
        font-size: $text;
        line-height: $text--lh;
        margin-bottom: 38px;
    }
}


.line{
    position: relative;
    margin: 0 auto;
    padding: 0 auto;
    width: 600px;
    height: 2px;
}

.block-icons{
    display: flex;
    flex-direction: column;
    align-items: center;

    .icons-heading{
        color: $white;
        font-weight: 700;
        margin-bottom: 38px;
        text-align: center;
    }

    .icons-content{
        display: inline-flex;

        .icon-install{
            margin: 0px $mi*4 ;
            img.info-icon{
                width: 150px;
                height: 150px;
                display: flex;
                justify-content: center;
                position: relative;
                margin: auto;
            }
            p{
                font-size: $text;
                text-align: center;
                color: $white;
                font-weight: 300;
                margin-top: $mi*2;
            }
        }
    }
}


.block-about-app{
    display: flex;
    flex-direction: column;


    .about-app-heading{
        color: $white;
        font-weight: 700;
        text-align: center;
    }
    p{
        font-size: $text;
        text-align: center;
        color: $white;
        font-weight: 300;   
        margin: $mi*2 0px;
    }
    
    .tab-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        &:nth-child(even){
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row-reverse;
        }

        .tab-content__text{
            margin-left: $mi*4;
        }

        .tab-content__text-reverse{

            margin-left: 0px;
            margin-right: $mi*4;

        }

        &__image img{
            width: 400px;
        }

        .tab-heading{
            font-size: $h2;
            color: $white;
            
        }

        .tab-text{
            font-size: $text;
            text-align: center;
            color: $white;
            font-weight: 300;   
            margin-top: $mi*2;
            text-align: left;  
        }
    }

    .tab-panel{
        position: relative;
        display: flex;
        margin: $mi*2 0px;
        justify-content: center;
        
        
        
        .tab-link{
            color: $white;
            margin: 0px $mi*4;
            font-size: $text;
            text-transform: uppercase;
            font-weight: 300;
            cursor: pointer;
            &.active{
                color: $green;
                font-weight: 600;
            }
        }
    }
}


.block-integration{
    display: flex;
    flex-direction: column;



    .integration-heading{
        color: $white;
        font-weight: 700;
        text-align: center;
    }

    .image-partner{
        display: flex;
        flex-direction: column;
        margin:$mi auto;
        width:1000px;
    }

    .promo-button-block{
        display: flex;
        width: fit-content;
        margin: 0 auto;
    }

    p{
        font-size: $text;
        text-align: center;
        color: $white;
        font-weight: 300;   
        margin-top: $mi*2;
    }
    
    .integration-icons{
        display: flex;
        justify-content: center;
        margin-top: $mi*2;
        &__item{
            margin: 0px $mi*4;
            text-align:center;
        }
        img.integration-icon{
            height: 70px;
            display: flex;
            justify-content: center;
            position: relative;
            margin: auto;
            margin-bottom: $mi*2;
        }
    }
   
}

.block-about{
    display: flex;
    flex-direction: column;
    .about-heading{
        color: $white;
        font-weight: 700;
        text-align: center;
    }
    .additional-heading{
        color: $white;
        font-weight: 300;
        text-align: center;
    }
    .about-content{
        display:inline-flex;
        align-items:center;
        
        &__text{

            p{
                font-size: $text;
                text-align: center;
                color: $white;
                font-weight: 300;   
                margin-top: $mi*2;
            }
        }
   
        &__img{
            position: relative;
            width: 200px;
        }
    }
    
    

}

.block-team{
    display: flex;
    flex-direction: column;

    .team-heading{
        color: $white;
        font-weight: 700;
        text-align: center;
    }
    p{
        font-size: $text;
        text-align: center;
        color: $white;
        font-weight: 300;   
        margin-top: $mi*2;
    }

    .team{
        display: inline-flex;
        margin-top: $mi*2;
        justify-content: center;
        &-item{
            width: 100%;
            margin: 0px $mi*2;
            text-align: center;
            &__name{
                font-size: 24px;
                font-weight: 700;
                color: $green;
                margin-top: $mi;
            }
            &__vacancy{
                font-size: 18px !important;
                font-weight: 300;
                color: $white;
                margin-top: $mi !important;
            }
            &__link{
                margin-top: $mi;
            }
            .team-photo{
                width: 150px;
            }
        }
    }
}

.block-social{
    display:flex;
    flex-direction: column;

    .social-heading{
        color: $white;
        font-weight: 700;
        text-align: center;
    }

    .social{
        display:inline-flex;
        justify-content: space-around;
        margin-top: $mi*2;
        &__item{
            margin: 0px $mi*2;
        }
    }
}


.footer{
    position: relative;
    display: flex;
    flex-direction: column;
    background: transparentize(#000,0.8);
    padding: $mo;
    width: 100vw;
    &-label{
        font-size: 18px;
        font-weight: 300;
        color: $white;
        display: flex;
        flex-direction: column;
        margin: $mi/4 0px;
    }
    &-logo{
        margin:0 auto;
        display: flex;
        flex-direction: column;
        margin-bottom: $mi*2;
        .logo{
            width: 200px;
        }
    }
    &-content{
        display: inline-flex;
        margin: 0 auto;

    }
    &-column{
        display: flex;
        flex-direction: column;
        margin:0px $mo ;
        h2{
            font-size: $text;
            font-weight: 400;
            color: $green;
            text-transform: uppercase;
        }
    }
    &__item{
        display: flex;
        flex-direction: column;
        text-align: left;
        margin:$mi/2 0px ;
        a{
            font-size: 18px;
            font-weight: 300;
            color: $white;
            transition: $t-time;
            text-decoration: none;
            &:hover{
                color: $green;
            }
            &:visited{
                color: $green-hover;
            }
            &:active{
                color: $green-hover;
            }
        }
    }
}

.block-inner{
    display:flex;
    flex-direction: column;
    margin: $mi*4 auto;
    color: $white;
    h1{
        color: $green !important;
        font-weight: 700;
        margin: $mi*2 0px $mi*3 0px;
    }
    p{
        font-weight: 300;
    }
}

///////////////////////////////////
/////////  NEWS  //////////////////
///////////////////////////////////

.block-news{
    display: flex;
    margin: $mi*4 auto;
    max-width: 700px;
    flex-direction: column;

    .article{
        max-width: 700px;
        color: $white;
        margin: $mi auto;
        &-main{
            margin-bottom: $mi;
            a{
                text-decoration: none;
            }
        }
        &-excerpt{
            font-size: 18px;
            font-weight: 300;
        }
        &-meta{
            margin-top: $mi;
        }
        &-publish{
            font-size: 16px;
            font-weight: 300;
            color: transparentize($white, .5);
        }
        &-image{
            max-width: 700px;
            margin: $mi 0px;
            border-radius: 8px;

        }
        &-heading{
            text-decoration: none;
        }
        &-categories{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            .category-link{
                margin: $mi/2;
                &:first-child{
                    margin-left:0px;
                }
            }
        }
    }
}

.countdown-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;


        li {
            display: inline-block;
            font-size: 1.5em;
            list-style-type: none;
            padding: 1em;
            text-transform: uppercase;
            color: $white;
            
          }
          
          li span {
            display: block;
            font-size: 4.5rem;
            color: $green;
          }
   

   
      
}

.bip-course{
    display:inline-flex;
    align-items:center;
  
    .bip-logo{
        max-width: 55px;
        height: auto;
        margin-right: 12px;
    }

    .bip-course-value{
        font-style: italic;
        font-weight: 800;
        background: linear-gradient(90deg,#FF512F 0%,#F09819 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}