.btn{
    padding: $p-tb $p-lr;
    text-align: center;
    font-weight: 600;
    font-size: $btn;
    border-radius: $p-lr*2;
    text-decoration: none;
    transition: $t-time;
    border: 0px;
    &-cta{
        background: $green;
        color: $dark;
        // box-shadow: $btn-shadow $green;
        animation: pulse 2s infinite;
        &:hover{
            background: $green-hover;
            box-shadow: $btn-shadow $green-hover;

        }
    }
    &-muted{
      background: transparentize($white, $alpha);
      color: $dark;
    }
    &-instagram{
      &:hover{
        background: $instagram;
        color: $white;
        box-shadow: $btn-shadow $instagram;
      }
    }
    &-telegram{
      &:hover{
        background: $telegram;
        color: $white;
        box-shadow: $btn-shadow $telegram;
      }
    }
    &-youtube{
      &:hover{
        background: $youtube;
        color: $white;
        box-shadow: $btn-shadow $youtube;
      }
    }
    &-twitter{
      &:hover{
        background: $twitter;
        color: $white;
        box-shadow: $btn-shadow $twitter;
      }
    }
    &-regular{
      &:hover{
        background: $green;
        color: $dark;
        box-shadow: $btn-shadow $green;
      }
    }
}



  @keyframes pulse {
    0% {
      -moz-box-shadow: $btn-shadow $green;
      box-shadow: $btn-shadow $green;
    }
    70% {
        -moz-box-shadow: $btn-shadow $green-hover;
        box-shadow: $btn-shadow $green-hover;
    }
    100% {
        -moz-box-shadow: $btn-shadow $green;
        box-shadow: $btn-shadow $green;
    }
  }

  @media (max-width: 768px){
    
  }