//CALCULATOR

.block-calculate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 120px auto;


    .calc{
        &-heading{
            color: $white;
            font-size: $h2;
            font-weight: 700;
            margin-bottom: 28px;
        }
        &-subheading{
            color: $white;
            font-size: 26px;
            line-height: 32px;
            font-weight: 300;
            margin-bottom: 28px;
        }
    }

    

    .form-calc{
        display: flex;
        flex-direction: row;
        margin: $mo/2;
    }

    .card-wrapper{ 
        display: flex;
        flex-direction: row;
    }
    .card{
        display: flex;
        flex-direction: column;
        padding: $mi;
        margin: $mi/2;
        text-align: center;
        border-radius: 12px;
        background: darken($dark,5);
        &-link{
            margin: 12px;
        }
        h3,span{
            color: $white;
        }
        h1{
            color: $green;
            margin: 12px 0px;
        }
        

    }
//SPECIALIZED INPUT
input[type=text]{
    background: transparent;
    outline: none;
    border: none;
    font-size: 24px;
    border-bottom: 2px solid darken($white,15);
    color: darken($white, 15);
    padding: 12px;
    margin: 0px 12px;
    &:focus{
        font-size: 24px;
        color: $green;
        border-bottom: 2px solid $green;  
        transition: .3s ease-in-out;
    }
}

}

@media screen and(max-width: 768px){
    .block-calculate{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 120px auto;
        .calc{
            &-heading,
            &-subheading{
                text-align: center;
            }
            &-subheading{
                font-size: 21px;
                line-height: 28px;
            }
        }
        .form-calc{
            display: flex;
            flex-direction: column;
            margin: $mo/2;
        }
        
    .card-wrapper{ 
        display: flex;
        flex-direction: column;
    }
    .card{
        display: flex;
        flex-direction: column;
        padding: $mi;
        margin: $mi/4;
        text-align: center;
        border-radius: 12px;
        background: darken($dark,5);
        &-link{
            margin: 12px;
        }
        h3,span{
            color: $white;
        }
        h1{
            color: $green;
            margin: 12px 0px;
        }
        

    }
    input[type=text]{
        background: transparent;
        outline: none;
        border: none;
        font-size: 24px;
        border-bottom: 2px solid darken($white,15);
        color: darken($white, 15);
        padding: 12px;
        margin: $mi/2;
        &:focus{
            font-size: 24px;
            color: $green;
            border-bottom: 2px solid $green;  
            transition: .3s ease-in-out;
        }
    }

}
    

    
    }
