

html,body{
    background: $dark;
    font-family: "Gotham Pro", sans-serif;
    overflow-x: hidden;
}


h1{
    font-size: $h1;
}

h2{
    font-size: $h2;
}


p{
    font-size: $text;
    line-height: $text--lh;
}

.green{
    color: $green;
}

.main{
    padding: 0px 10%;
}

.row{
    padding: 0px 300px;
}

a{
    font-size: 18px;
    font-weight: 300;
    color: $white;
    transition: $t-time;
    text-decoration: underline;
    &:hover{
        color: $green;
    }
    &:visited{
        color: $green-hover;
    }
    &:active{
        color: $green-hover;
    }
}

.spacer-additional{
    margin-top: $mi;
    margin-bottom: $mi;
}