.nav {
    height: 80px;
    width: 100%;
    background-color: #212121;
    position: fixed; /* Make it stick/fixed */
     top: 0; /* Stay on top */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
    padding: 0px 22px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    z-index:200;
    
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }

  .nav-logo{
      height: 60px!important;
  }
  
  .nav > .nav-links {
    display: inline-flex;
    align-items: center;

    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-flex;
    align-items: center;
    padding: $mi/2 $mi;
    text-decoration: none;
    color: #efefef;
    transition: $t-time;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: $mi*2;
    padding: $mi/2 $mi;
  }
  
  .nav > #nav-check {
    display: none;
  }

  .nav > .nav-dropdown{
    position: relative;
    display: inline-flex;
  }

  .nav > .nav-dropdown-content {
    display: none;
    position: absolute;
    background: $white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    min-width: 160px;
    z-index: 1;
  }

  .nav-dropdown:hover .nav-dropdown-content {
    display: block;
  }

 .dropdown-item{

 }

 .nav-lang{
   display: flex;
   align-items: center;
   height: 20px;
 }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 14px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #212121;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 80px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 80px);
      overflow-y: auto;
      text-align: center;
    }
  }

  .scrollUp{
    transform: translateY(-80px);
  }