.tabs {
    width: 60%;  
    float: none;
    list-style: none;
    position: relative;
    margin: 80px 0 0 10px;
    text-align: left;
    li {
      float: left;
      display: block;
    }
    input[type="radio"] {
      position: absolute;
      top: 0;
      left: -9999px;
    }
    label {
      display: block;
      padding: 14px 21px;
      border-radius: 2px 2px 0 0;
      font-size: 20px;
      font-weight: normal;
      text-transform: uppercase;
      background: $dark;
      cursor: pointer;
      position: relative;
      top: 4px; 
       
      &:hover {
        background: darken($green, 10);
        transition: all 0.2s ease-in-out;
      }
    }
    .tab-content{
      z-index: 2;
      display: none; 
      overflow: hidden;
      width: 100%;
      font-size: 17px;
      line-height: 25px;
      padding: 25px;  
      position: absolute;
      top: 53px;
      left: 0; 
      background: darken($dark, 15);
    }
    //The Magic
    [id^="tab"]:checked + label { 
      top: 0;
      padding-top: 17px; 
      background: darken($green, 15); 
    }
    [id^="tab"]:checked ~ [id^="tab-content"] {
      display: block;
    }
  }