.timeline {
	list-style-type: none;
	display: flex;
	align-items: start;
    justify-content: center;
    margin: $mi*4 0px;
}

.li {
	transition: all 200ms ease-in;
}

.timestamp {
	margin-bottom: 20px;
	padding: 0px 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
    font-weight: 600;
    color: $white;
}

.status {
	padding: 20px 40px;
	display: flex;
    justify-content: center;
    text-align: center;
	border-top: 2px solid #D6DCE0;
	position: relative;
	transition: all 200ms ease-in;
}

.status h4 {
    font-weight: 300;
    color: $white;
}

.status:before {
	content: '';
	width: 25px;
	height: 25px;
	background-color: white;
	border-radius: 25px;
	border: 1px solid #ddd;
	position: absolute;
	top: -15px;
	left: 42%;
	transition: all 200ms ease-in;
}

.li.complete .status {
	border-top: 2px solid $green;
}

.li.complete .status:before {
	background-color: $green;
	border: none;
	transition: all 200ms ease-in;
}

.li.complete .status h4 {
	color: $green;
}

@media (min-device-width: 320px) and (max-device-width: 700px) {
	.timeline {
		list-style-type: none;
		display: block;
	}

	.li{
		transition: all 200ms ease-in;
        display: flex;
        align-items: flex-end;
		width: inherit;
	}

	.timestamp {
		width: 100px;
	}

    .status {
        border-top: 0px solid #D6DCE0;

    }

    .status h4{
        text-align: left;
    }

	.status:before {
		left: -8%;
		top: 30%;
        transition: all 200ms ease-in;
        border-top: 0px solid #D6DCE0;
        
    }
    .li.complete {
		transition: all 200ms ease-in;
        display: flex;
        align-items: flex-end;
		width: inherit;
	}
    .li.complete .status {
        border-top: 0px solid $green;
    }

    
}
