$dark: #282828;
$white: #f8f8f8;
$green: #5AF9BC;

$tabs-base-color: $green;

$green-hover: #42CB97;

//social
$telegram: #0088cc;
$youtube:#CD201F;
$btt: $green;
$instagram: #E4405F;
$twitter: #55ACEE;

// headings

$h1: 36px;
$h2: 32px;
$text: 24px;
$text--lh: 32px;

$btn: 18px;


// margins
// mi - margin inner - margin in the block 
// mo - margin outer - margin out of the block
$mi: 22px;
$mo: 100px;


//buttons
//-- paddings; tb - top-bottom, lr - left-right
$p-tb: 15px;
$p-lr: 20px;

// transitions
$t-time: .3s ease-in;

//shadows

/* offset-x | offset-y | blur-radius | spread-radius | color */
$btn-shadow: 0px 4px 24px 4px;


//transparentize
$alpha: 0.8;

$darken: 0.2;

$form-radius: 32px;
$form-border-color: #d1d1d1;
$form-border-color-disabled: #e8e8e8;
$form-border-color-error: #db5451;
$form-border-color-focus: #038cd6;
$form-background: #fff;
$form-background-disabled: #f5f5f5;
$form-color: #474747;
$form-color-error: #db5451;
$form-size-small: 32px;
$form-size-default: 40px;
$form-size-textarea: 125px;
$form-padding: 22px;


.red{
    color: $youtube;
}